*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent;
}
/*   ROOT  */
:root{
    --lightgray: #cccccc;
    --darkgray: gray;
}
::selection{
    color: #fff;
    background: var(--darkgray);
}
body{
    overflow-y: hidden;
    background: linear-gradient(to right, var(--lightgray), rgb(245, 240, 240));
}
/*   HEADER   */
.header{
    position: relative;
}
.header .cover{
    background-image: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,0)), url(images/cover.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.header .profile-pic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--lightgray);
    position: absolute;
    cursor: pointer;
    z-index: 2;
}
.header-text{
    text-align: center;
}
.header-text .name{
    font-size: 2em;
    font-weight: bold;
    color: var(--darkgray);
}
.owner-name{
    position: relative;
    color: var(--darkgray);
}
.verified-tooltip{
    width: 120px;
    height: 30px;
    border: 1px solid;
    position: absolute;
    text-align: center;
    bottom: 180%;
    left: -80%;
    padding: 5px 0;
    background-color: var(--darkgray);
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    display: none;
    border: 1px solid transparent;
}
.verified-tooltip::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 10%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--darkgray);
}
.verified{
    margin-left: 10px;
    margin-top: -20px;
    position: absolute;
    top: 80%;
}
.verified:hover .verified-tooltip{
    display: block;
}
.header-text .web{
    font-size: 14px;
    text-decoration: underline;
    margin: 10px 0;
    color: var(--darkgray);
    cursor: pointer;
}
/*  MAIN  */
.main{
    margin-top: 20px;
}
.main ul{
    display: flex;
    flex-direction: row;
}
.main ul li a{
    color: var(--darkgray);
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    cursor: pointer;
    padding: 16px 10px;
    border-radius: 4px;
}
.main li a:hover{
    background: rgb(197, 194, 194);
}
.main ul li a.active::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--darkgray);
    top: 90%;
    left: 0;
}
/*  ACCOUNTS  */
.contact-me{
    padding: 30px 50px;
}
.accounts .account_container, .contact-me .account_container{
    display: flex;
    flex-direction: row;
    padding: 7px 10px;
    width: auto;
    border-radius: 4px;
    box-shadow: 0 0 4px var(--darkgray);
    border: 1px solid transparent;
    position: relative;
    color: var(--darkgray);
    margin: 10px 0;
    cursor: pointer;
}
.accounts .account_container:hover, .contact-me .account_container:hover{
    box-shadow: 0 0 10px var(--darkgray);
    transition: .2s;
    border: 1px solid transparent;
}
.accounts .title, .contact-me .title{
    font-weight: bold;
}
.accounts .link, .contact-me .link{
    font-size: 12px;
}
.accounts .icon, .contact-me .icon{
    font-size: 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.accounts .account-link, .contact-me .account-link{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
/*  GALLERY  */
.gallery .photos img, .videos video{
    object-fit: cover;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 0 2px #000;
    cursor: pointer;
}
.photos, .videos{
    background: rgb(245, 242, 242);
    padding: 10px 10px 50px;
    border-radius: 5px;
}
/*  FOOTER  */
.footer{
    padding: 50px 0;
}
.footer p{
    font-size: 14px;
    color: var(--darkgray);
}
/*  VIEW CONTENT  */
.view{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: black;
    top: 0;
    visibility: hidden;
    z-index: 5;
    overflow: hidden;
}
.view .close{
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    z-index: 5;
}
.custom-hide-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background: rgb(233, 230, 230);
}
.custom-hide-icon div{
    position: absolute;
    width: 30px;
    height: 3px;
    background: rgb(122, 119, 119);
    top: 50%;
    left: 22%;
    transform: translate(-22%, -50%);
}
.custom-hide-icon div:nth-child(1){
    transform: rotate(45deg);
}
.custom-hide-icon div:nth-child(2){
    transform: rotate(135deg);
}
.view .content-details{
    position: absolute;
    height: 100vh;
    width: 30%;
    right: 0;
    top: 0;
    background: #fff;
    padding-top: 150px;
}
.details{
    padding: 20px;
}
.view .details .my-dp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    object-fit: cover;
}
#time-now{
    font-size: 15px;
    color: rgb(133, 127, 127);
    margin: 5px 0;
}
.details .my_name{
    font-weight: bold;
    color: rgb(73, 71, 71);
    cursor: pointer;
}
.details .my_name:hover{
    text-decoration: underline;
}
.my-name{
    margin-bottom: 20px;
}
.content-desc{
    font-size: 15px;
    color: rgb(58, 55, 55);
}
.comment-area{
    width: 80%;
    border-radius: 4px;
    margin: 5px 10% 5px 5%;
    resize: none;
    padding: 5px;
    border: 1px solid var(--lightgray);
    caret-color: var(--darkgray);
}
.close a{
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    display: none;
}
.close:hover{
    text-decoration: underline;
}
.me{
    display: flex;
    flex-direction: row;
}
.arrow{
    position: absolute;
    top: 5%;
    right: 40%;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: none;
}
@keyframes arrow{
    from{
        right: 40%;
    }
    to {
        right: 30%;
    }
}
.arrow .fas{
    font-size: 3em;
    color: rgb(65, 61, 61);
}
.comment-section{
    display: flex;
    flex-direction: row;
    padding: 5px 30px;
}
.comment-section a{
    padding: 5px 30px;
    cursor: pointer;
    font-weight: bold;
    color: var(--darkgray);
}
.text{
    cursor: pointer;
    font-weight: bold;
    color: var(--darkgray);
}
.comment-section a:hover{
    background-color: var(--lightgray);
}
.react{
    position: relative;
}
.react:hover .react-icons{
    visibility: visible;
    transition-delay: .3s;
}
.react-icons{
    position: absolute;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 2px var(--darkgray);
    padding: 0 10px;
    background-color: #fff;
    border-radius: 50px;
    bottom: 150%;
    left: -20%;
    width: 220px;
    height: 50px;
    visibility: hidden;
}
.react-icons .emoji{
    width: 50px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    margin-top: -10px;
    border: 5px solid transparent;
}
.react-icons .emoji:hover{
    height: 80px;
    border: 0 solid transparent;
    transition: .5s;
}
/*  PRELOAD  */
.preload{
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to right, var(--lightgray), rgb(245, 240, 240));
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
    overflow-y: scroll;
}
.preload_container{
	position: absolute;
	top: 45%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -35%);
}
.preload p{
	font-size: 2em;
	color: var(--darkgray);
	margin: 20px 0;
	font-family: sans-serif;
}
